@import '../../theme.scss';

.nest-main {
    .map {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bird {
        max-width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
            max-width: 70%;
        }
    }
}