@import '../../theme.scss';

.about-main {

    .logo-container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        text-align: center;
        .logo {
            max-width: 60%;
        }
    }

    .strava-container {
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 0.5em;
        padding-left: 3em;
        padding-right: 3em;
        .strava {
            max-width: 100%;
        }
    }

}