@import '../../theme.scss';

.logged-in-main {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px 15px 0px 15px;

    .logo-container {
        width: 100%;
        padding-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        .logo {
            max-width: 100%;
        }
    }

    .error {
        font-size: 1.3em;
        text-align: left;
    }
}