@import '../../theme.scss';

$paneThemeColor: #4242da;

.slide-pane {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: $textColor;
  min-width: 100px;
  height: 100%;
  transition: transform 0.5s;
  will-change: transform;
}

.slide-pane__overlay {
  position: fixed;
  top: 0px;
  z-index: 1;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.slide-pane__header {
  align-items: left;
  color: white;
  background: $paneThemeColor;
  padding-left: 0px;
}
.slide-pane__title-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 32px;
  min-width: 0;
}

.slide-pane .slide-pane__title {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.slide-pane__close {
  margin-left: 24px;
  padding: 16px;
  opacity: 0.7;
}
.slide-pane__close svg {
  width: 12px;
  padding: 0;
}
.slide-pane__content {
  padding: 24px 32px;
}

.press {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;  
  border: 2px solid;
  color: white;
  margin-top: 5px;
  width: 100%;
  background-color: $paneThemeColor;
  align-content: center;
  border-radius: 10px;
}

.press2 {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 12px;  
  border: 2px solid;
  color: white;
  margin-top: 5px;
  width: 100%;
  background-color: rgb(255, 0, 0);
  align-content: center;
  border-radius: 10px;
}

.text1 {
  font-size: 15px;
  color: $textColor;
  text-align: left;
}

.text2 {
  font-size: 15px;
  color: $textColor;
  text-align: left;
  margin-top: 20px;
}