@import '../../theme.scss';

.flock-main {

    .your-username {
        text-align: center;
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 2px solid white;
    }

    .add-friend {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    .find-new {
        font-size: 1.3em;
        color: $textColor;
        text-align: center;
        .magglass {
            max-width: 10%;
            max-height: 100%;
            align-items: center;
            margin-right: 0.75em;
            padding-bottom: 0.2em;
        }
    }

    .friend-text {
        font-size: 0.75em;
        padding-left: 10px;
        color: $textColor;
        text-align: left;
        padding-top: 7px;
    }

    .in {
        padding-top: 10px;
        font-size: 1.2em;
        margin: 0 10px 0 10px;
        .search-box {  
            border: 1px solid;
        }
        .search-button {
            border: 1px solid;
        }
    }

    .text-updates {
        padding: 3px 0 3px 10px;
    }

    .text-flockmates {
        padding: 3px 0 3px 10px;
        display: block;

        .remove {
            border-radius: 5px;
            border: 1px solid;
            width: 10;
            background-color: $primaryColor;
            float: right;
        }
    }

    // .header-updates {
    //     font-size: 1.3em;
    //     text-align: center;
    // }


    // .text-updates {
    //     font-size: 1em;
    //     padding-left: 10px;
    //     color: $textColor;
    //     text-align: left;
    //     padding-top: 5px;
    //     padding-bottom: 3px;
    // }

    // .header-flockmates {
    //     font-size: 1.3em;
    //     text-align: center;
    // }

    // .text-flockmates {
    //     font-size: 1em;
    //     padding-left: 10px;
    //     color: $textColor;
    //     padding-top: 5px;
    //     padding-bottom: 3px;
    //     color: $textColor;
    //     text-align: left;
    //     align-items: right;
    //     align-self: right;
    //     align-content: right;
    // }    

    .remove {
        border-radius: 5px;
        font-size: x-small;
        border: 1px solid;
        background-color: $primaryColor;
    }

}