@import '../../theme.scss';

.flock-main {
    width: 100%;
    height: 100%;
    padding: 10px 30px 10px 30px;
    background-color: $backgroundColor;
    overflow-y: scroll;

    .header {
        font-size: 15px;
        color: $textColor;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 0px;
        font-weight: bold;
    }

    .text {
        font-size: 12px;
        margin: 2px;
        color: $textColor;
        text-align: left;
    }

}