@import '../../theme.scss';

.download-main {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 1;

    .welcome-to-stravian {
        
        .welcome-to {
            font-size: 2em;
            text-align: center;
            color: linear-gradient($primaryColor, white);
        }
    
        .logo-container {
            text-align: center;
            .logo {
                max-width: 80%;
            }
        }
    }

    .instructions {
        .logo {
            height: 1.5em;
        }
    }

    .powered-by-strava {
        text-align: center;
        img {
            max-width: 60%;
        }
    }
}