@import '../../theme.scss';

.hatch-main {
    background-color: $backgroundColor;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    padding: 10px;
    
    .message-caption {
        font-size: 2em;
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        color: $primaryColor;
    }
    
    .photo-credit {
        position: fixed;
        bottom: 0;
        right: 0;
        font-size: 12px;
        text-align: end;
        padding-right: 12px;
    }

    .egg {
        max-width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        text-align: center;
        display: absolute;
        img {
            max-width: 70%;
        }
    }

    .bird {
        max-width: 100%;
        text-align: center;
        img {
            max-width: 70%;
        }
    }

    .move-on {
        color: $primaryColor;
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }

}