@import '../../theme.scss';

.stats-main {

    .parent {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    .stats {
        position: relative;
        height: 80%;
        width: 80%;
        top: 55%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .stats table{
        background-color: $secondaryColor;
    }
    
    .stats th{
        position: sticky;
        top: 0;
        background-color: adjust-hue($color: $secondaryColor, $degrees: 0);
    }
    
    .stats .break {
        height: 5%;
    }
    
    .stats div{
        overflow-y: auto;
        max-height: 60%;
        margin: 0 auto;
        width: 98%;
    }
    
    .stats .notBr{
        border-color: adjust-hue($color: $secondaryColor, $degrees: -20);
        border-style: solid;
    }
}
