@import '../../theme.scss';

.page {
    background-color: $backgroundColor;
    position: absolute;
    height: 100%;
    width: 100%;
    color: $textColor;
}

.parent {
    position: relative;
    margin: 0 auto;
    max-height: 100%;
    width: 100%;
}
table{
    width: 100%;
}

.leaderbird{
    position: relative;
    margin: 0 auto;
    max-height: 60%;
    width: 80%;
    background-color: $secondaryColor;
    overflow-y: auto;
    border-style: solid;
    border-color: $borderColor;
}
.leaderbird th{
    position: sticky;
    top: 0;
    left: 0%;
    right: 0%;
}

.yourRank{
    position: relative;
    margin: 0 auto;
    width: 80%;
    background-color: $secondaryColor;
    overflow-y: auto;
    border-style: hidden;
    border-color: $borderColor;
}
.yourRank table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    margin: 0 auto;
}

.leaderbird table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    //margin: 0 auto;
}
.leaderbird th,td {
    background-color: $secondaryColor;
}
table .rank, .dist{
    text-align: center;
}

.buttons {
    position: fixed;
    top: 90%;
    left: 25%;
    right: 25%;
}
