@mixin cloud($class, $width, $top, $start, $time) {
    @keyframes #{$class} {
        0% {
            #{$start}: -#{$width};
        }
    
        100% {
            #{$start}: 100vw;
        }
    }

    .#{$class} {
        width: $width;
        top: $top;
        animation: $class $time linear infinite;
        animation-delay: -60s;
    }
}

.cloud {
    position: fixed;
    z-index: 0;
}

@include cloud(cloud1, 30vw, 5vh, left, 90s);
@include cloud(cloud2, 40vw, 20vh, right, 140s);
@include cloud(cloud3, 20vw, 42vh, left, 100s);
@include cloud(cloud4, 30vw, 55vh, right, 120s);
@include cloud(cloud5, 40vw, 75vh, left, 80s);

@media screen and (min-width: 1000px) {
    .cloud {
        display: none;
    }
}