$textColor: #1a3042;
$primaryColor: #87e5eb;
$secondaryColor: #f4c06c; /*244, 192, 108*/
$backgroundColor: #f8f0e3; /*248, 240, 227*/

.title {
    position: static;
    font-size: 30px;
    color: $primaryColor;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
    top: 0;
    background-color: $backgroundColor;
    font-weight: bold;
}

.subtitle {
    font-size: 15px;
    color: $textColor;
    text-align: left;
    padding-bottom: 1px;
    padding-left: 5px;
    font-weight: bold;
}

.text {
    font-size: 12px;
    padding-left: 10px;
    color: $textColor;
    text-align: left;
    padding-bottom: 30px;
    background: $backgroundColor;
}