$textColor: #1a3042;
$primaryColor: #87e5eb;
$secondaryColor: #f4c06c; /*244, 192, 108*/
$backgroundColor: #f8f0e3; /*248, 240, 227*/
$borderColor: adjust-hue($color: $secondaryColor, $degrees: -20);
    

.title_ {
    font-size: 250%;
    color: $primaryColor;
    text-align: center;
    position: relative;
    //padding-bottom: 80px;
    background-color: inherit;//$secondaryColor;
    font-weight: bold;
    margin: 0 auto;
}

.subtitle_ {
    font-size: 150%;
    color: $textColor;
    text-align: left;
    position: relative;
    font-weight: bold;
}

.text_ {
    font-size: 100%;
    padding-left: 10px;
    position: relative;
    color: $textColor;
    text-align: left;
    padding-bottom: 30px;                    
    display: inline-block;
}